./.gradle/
gradle.properties
lib/gradle.properties

.classpath
.project
.settings

lib/build
build
settings

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

#las pruebas harán generar documentos word, que no quiero subir al repositorio remoto
*.docx
